<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!--host-->
    <add key="hostUrl" value="http://10.12.10.88:5002"></add>   
    <!--其他消息同步执行间隔-->
    <add key="OtherSecond" value="6000"></add>   
    <!--日志路径-->
    <add key="LogPath" value="log.txt"></add>
  </appSettings>
</configuration>
