@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>发布助手</h1>
    <p class="lead">上传文章自动发布，解放双手</p>
    <p><a href="/Account/EditAccountCount" class="btn btn-primary btn-lg">设置 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>上传资料</h2>
        <p>
            上传资料
        </p>
        <p><a class="btn btn-default" href="~/UploadFile/index">更多 &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>栏目设置</h2>
        <p>设置对应的网站栏目</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">更多&raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>站点设置</h2>
        <p>添加站点</p>
        <p><a class="btn btn-default" href="~/Website/index/">更多 &raquo;</a></p>
    </div>
</div>